*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;

}
html body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(134, 199, 134);
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel{
    height:80%;
    width:80%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    
}
.tpanel{
    height: 80px;
    width: 100%;
    background-color: rgb(66, 116, 66);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30%;
    color: white;
}
.elem{
    /* width: 10%; */
    display: flex;
    align-items: center;
    gap:20px;
}
.elem h3{
    font-size:20px;
}
.box{
    padding: 5px 15px;
    background-color: white;
    border-radius: 3px;
    color: rgb(42, 179, 65);
    font-weight: 700;
    font-size:19px;
}
.bpanel{
    width: 100%;
    padding:10px;
    height: calc(100% - 80px);
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    align-items: center;
    justify-content: center;

}   
.bubble{
    width: 52px;
    height: 52px;
    background-color: rgb(62, 107, 62);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 20px;
   
}
.bubble:hover{
    background-color: rgb(51, 85, 51);
    cursor: pointer;
}

